<!--  App Features Section  -->
<section class="app_features" id="app_features">
    <div class="container">

        <div class="row text-center">
            <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
                <img src="~/images/f_icon1.png" alt="" title="">
                <h1 class="text-uppercase">malesuada fames turpis.</h1>
                <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
            </div>
            <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
                <img src="~/images/f_icon2.png" alt="" title="">
                <h1 class="text-uppercase">malesuada fames turpis.</h1>
                <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
            </div>
            <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
                <img src="~/images/f_icon3.png" alt="" title="">
                <h1 class="text-uppercase">malesuada fames turpis.</h1>
                <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
                <img src="~/images/f_icon4.png" alt="" title="">
                <h1 class="text-uppercase">malesuada fames turpis.</h1>
                <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
            </div>
            <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
                <img src="~/images/f_icon5.png" alt="" title="">
                <h1 class="text-uppercase">malesuada fames turpis.</h1>
                <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
            </div>
            <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
                <img src="~/images/f_icon6.png" alt="" title="">
                <h1 class="text-uppercase">malesuada fames turpis.</h1>
                <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
            </div>
        </div>

    </div>
</section>
<!--  And App Features Section  -->